/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Asap';
  src: url("../../assets/fonts/asapcondensed-semibold-webfont.eot");
  src: url("../../assets/fonts/asapcondensed-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/asapcondensed-semibold-webfont.woff2") format("woff2"), url("../../assets/fonts/asapcondensed-semibold-webfont.woff") format("woff"), url("../../assets/fonts/asapcondensed-semibold-webfont.ttf") format("truetype"), url("../../assets/fonts/asapcondensed-semibold-webfont.svg#asap_condensedsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url("../../assets/fonts/quicksand-regular-webfont.eot");
  src: url("../../assets/fonts/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/quicksand-regular-webfont.woff2") format("woff2"), url("../../assets/fonts/quicksand-regular-webfont.woff") format("woff"), url("../../assets/fonts/quicksand-regular-webfont.ttf") format("truetype"), url("../../assets/fonts/quicksand-regular-webfont.svg#quicksandregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  color: #D1D1D1;
  font-family: Quicksand;
  font-size: 14px; }
  @media (min-width: 600px) {
    html {
      font-size: 18px; } }

body {
  background-color: #272822; }

h2 {
  font-family: Asap;
  font-size: 18px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  opacity: 0.7;
  text-align: center; }
  @media (min-width: 600px) {
    h2 {
      font-family: Asap;
      font-size: 28px;
      letter-spacing: 0.3em;
      text-transform: uppercase; } }

a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
  a:not([name='menu']) {
    color: #52C4DF;
    font-family: Quicksand;
    font-size: 14px;
    text-decoration: none; }
  a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none; }

.big {
  font-size: 18px;
  text-align: center; }
  @media (min-width: 600px) {
    .big {
      font-size: 24px; } }

.menu li a {
  font-family: Asap;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  @media (min-width: 600px) {
    .menu li a {
      font-family: Asap;
      font-size: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase; } }

.line1 {
  background: url("../../assets/images/Lines1@3x.png") center no-repeat;
  background-size: 100% 100%;
  height: 0;
  margin: 80px 0;
  padding-top: 16.89453%;
  width: 100%; }

.line2 {
  background: url("../../assets/images/Lines2@3x.png") center no-repeat;
  background-size: 100% 100%;
  height: 0;
  margin: 80px 0;
  padding-top: 10.35156%;
  width: 100%; }

.line3 {
  background: url("../../assets/images/Lines3@3x.png") center no-repeat;
  background-size: 100% 100%;
  height: 0;
  margin: 80px 0;
  padding-top: 16.89453%;
  width: 100%; }

header {
  background: url("../../assets/images/PageTitle@3x.png") center no-repeat;
  background-size: contain;
  height: 0;
  margin: 15px 0;
  padding-top: 9.47266%;
  width: 100%; }

.sub_title {
  display: grid;
  grid-row-gap: 40px;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 'menu' 'text';
  height: 180px;
  margin: 0 auto;
  width: 100%; }
  .sub_title .menuWrapper {
    height: 40px; }
  .sub_title .menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #272822;
    display: grid;
    grid-area: menu;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    width: 100%; }
    .sub_title .menu li a {
      color: inherit;
      text-decoration: none; }
    .sub_title .menu .selected {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: rgba(209, 209, 209, 0.25);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 40px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 20vw; }
    @media (min-width: 600px) {
      .sub_title .menu {
        background-color: unset; } }
  .sub_title .sticky_header {
    position: fixed;
    top: 0;
    z-index: 1000; }
  .sub_title .about_me {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: grid;
    grid-template-areas: 'title' 'content';
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    grid-area: text; }
    .sub_title .about_me h2 {
      grid-area: title; }
    .sub_title .about_me p {
      -ms-flex-item-align: end;
          align-self: end;
      grid-area: content;
      line-height: 1.5em;
      text-align: center; }
      .sub_title .about_me p #blue {
        color: #52c4df; }
      .sub_title .about_me p #green {
        color: #a1da2b; }
      .sub_title .about_me p #purple {
        color: #a37aec; }
      .sub_title .about_me p #red {
        color: #dd2667; }
  @media (min-width: 600px) {
    .sub_title {
      grid-gap: 0 0;
      grid-template-areas: 'menu text free' 'menu text  free' 'menu text  free' 'menu text  free';
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      width: 100%; }
      .sub_title .menu {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr 1fr 1fr;
        height: 160px;
        position: fixed;
        width: 20vw;
        z-index: 2; }
      .sub_title .about_me p {
        -ms-flex-item-align: center;
            align-self: center; } }

.skills {
  margin: 50px 0; }
  .skills h2 {
    margin-bottom: 50px; }
  .skills .skills-grid {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: 'html css js' 'react jquery git' 'materialUI gulp redux' 'mongoDB express meteor';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 90vw;
    margin: 0px auto;
    width: 90%; }
    .skills .skills-grid .html {
      grid-area: html; }
      .skills .skills-grid .html .img {
        background: url("../../assets/images/HTML@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .html p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .css {
      grid-area: css; }
      .skills .skills-grid .css .img {
        background: url("../../assets/images/CSS@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .css p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .js {
      grid-area: js; }
      .skills .skills-grid .js .img {
        background: url("../../assets/images/Javascript@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .js p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .react {
      grid-area: react; }
      .skills .skills-grid .react .img {
        background: url("../../assets/images/React@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .react p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .jquery {
      grid-area: jquery; }
      .skills .skills-grid .jquery .img {
        background: url("../../assets/images/JQuery@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .jquery p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .git {
      grid-area: git; }
      .skills .skills-grid .git .img {
        background: url("../../assets/images/Git@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .git p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .materialUI {
      grid-area: materialUI; }
      .skills .skills-grid .materialUI .img {
        background: url("../../assets/images/MaterialUI@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .materialUI p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .gulp {
      grid-area: gulp; }
      .skills .skills-grid .gulp .img {
        background: url("../../assets/images/Gulp@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .gulp p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .redux {
      grid-area: redux; }
      .skills .skills-grid .redux .img {
        background: url("../../assets/images/Redux@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .redux p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .mongoDB {
      grid-area: mongoDB; }
      .skills .skills-grid .mongoDB .img {
        background: url("../../assets/images/MongoDB@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .mongoDB p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .express {
      grid-area: express; }
      .skills .skills-grid .express .img {
        background: url("../../assets/images/Express@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .express p {
        text-align: center;
        margin-top: 10px; }
    .skills .skills-grid .meteor {
      grid-area: meteor; }
      .skills .skills-grid .meteor .img {
        background: url("../../assets/images/Meteor@3x.png") center no-repeat;
        background-size: contain;
        height: 65%;
        margin: 0 auto;
        width: 65%; }
      .skills .skills-grid .meteor p {
        text-align: center;
        margin-top: 10px; }
    @media (min-width: 600px) {
      .skills .skills-grid {
        grid-template-areas: 'free html css js free1' 'free react jquery git free1' 'free materialUI gulp redux free1' 'free mongoDB express meteor free1';
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 80vw;
        width: 100%; } }
    @media (min-width: 1000px) {
      .skills .skills-grid {
        grid-template-areas: 'free html css js react free1' 'free jquery git materialUI gulp free1' 'free  redux mongoDB express meteor free1';
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 57.14286vw;
        width: 100%; } }

.work {
  margin: 50px auto;
  width: 90%; }
  .work h2 {
    margin-bottom: 50px; }
  .work .boomtown {
    margin: 0 auto 80px auto; }
    .work .boomtown .img {
      background: url("../../assets/images/BoomtownMockup@3x.png") center no-repeat;
      background-size: contain;
      height: 0;
      padding-top: 60.08463%;
      width: 100%; }
    .work .boomtown p {
      margin-bottom: 10px;
      text-align: center; }
    .work .boomtown .source {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 50px;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .work .mars {
    margin: 0 auto 80px auto; }
    .work .mars .img {
      background: url("../../assets/images/MarsMockup@3x.png") center no-repeat;
      background-size: contain;
      height: 0;
      padding-top: 62.03866%;
      width: 100%; }
    .work .mars p {
      margin-bottom: 10px;
      text-align: center; }
    .work .mars .source {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 50px;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .work .aloha {
    margin: 0 auto 80px auto; }
    .work .aloha .img {
      background: url("../../assets/images/AlohaMockup@3x.png") center no-repeat;
      background-size: contain;
      height: 0;
      padding-top: 55.11265%;
      width: 100%; }
    .work .aloha p {
      margin-bottom: 10px;
      text-align: center; }
    .work .aloha .source {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 50px;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .work .bestbuy {
    margin: 0 auto 80px auto; }
    .work .bestbuy .img {
      background: url("../../assets/images/BestBuyMockup@3x.png") center no-repeat;
      background-size: contain;
      height: 0;
      padding-top: 61.92171%;
      width: 100%; }
    .work .bestbuy p {
      margin-bottom: 10px;
      text-align: center; }
    .work .bestbuy .source {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 50px;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .work .littlepaper {
    margin: 0 auto 80px auto; }
    .work .littlepaper .img {
      background: url("../../assets/images/LittlePaperMockup@3x.png") center no-repeat;
      background-size: contain;
      height: 0;
      padding-top: 61.05442%;
      width: 100%; }
    .work .littlepaper p {
      margin-bottom: 10px;
      text-align: center; }
    .work .littlepaper .source {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 50px;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  @media (min-width: 600px) {
    .work {
      width: 60vw; } }
  @media (min-width: 1000px) {
    .work {
      width: 42.85714vw; } }

footer h2 {
  margin-bottom: 50px; }

footer .grid {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 90vw; }
  footer .grid .email {
    background: url("../../assets/images/Email@3x.png") center no-repeat;
    background-size: contain;
    display: inline-block;
    height: 80%;
    width: 80%;
    -ms-flex-item-align: end;
        align-self: end;
    justify-self: center; }
  footer .grid .github {
    background: url("../../assets/images/Github@3x.png") center no-repeat;
    background-size: contain;
    display: inline-block;
    height: 100%;
    width: 100%; }
  footer .grid .linkedin {
    background: url("../../assets/images/Linkedin@3x.png") center no-repeat;
    background-size: contain;
    display: inline-block;
    height: 100%;
    width: 100%; }
  footer .grid .resume {
    background: url("../../assets/images/resume.svg") center no-repeat;
    background-size: contain;
    display: inline-block;
    height: 100%;
    width: 100%; }

@media (min-width: 600px) {
  footer .grid {
    width: 60vw; } }
