@font-face {
    font-family: 'Asap';
    src: url('../../assets/fonts/asapcondensed-semibold-webfont.eot');
    src: url('../../assets/fonts/asapcondensed-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/asapcondensed-semibold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/asapcondensed-semibold-webfont.woff') format('woff'),
         url('../../assets/fonts/asapcondensed-semibold-webfont.ttf') format('truetype'),
         url('../../assets/fonts/asapcondensed-semibold-webfont.svg#asap_condensedsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/fonts/quicksand-regular-webfont.eot');
    src: url('../../assets/fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../../assets/fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}