.skills{
    h2{
        margin-bottom: 15px;
    }
    .skills-grid{
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        grid-template-areas:  "html css js"
                              "react wp jquery"
                              "git bootstrap gulp";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 90vw;
        margin: 0px auto;
        width:90%;

        .html{
            @include skill-grid('HTML@3x',html)
        }

        .css{
            @include skill-grid('CSS@3x',css)
        }

        .js{
            @include skill-grid('Javascript@3x',js)
        }

        .react{
            @include skill-grid('React@3x',react)
        }

        .wp{
            @include skill-grid('Wordpress@3x',wp)
        }

        .jquery{
            @include skill-grid('JQuery@3x',jquery)
        }
        
        .git{
            @include skill-grid('Git@3x',git)
        }

        .bootstrap{
            @include skill-grid('Bootstrap@3x',bootstrap)
        }

        .gulp{
            @include skill-grid('Gulp@3x',gulp)
        }
        
        @include tablet{
            grid-template-areas: "free html css js free1"
                                 "free react wp jquery free1"
                                 "free git bootstrap gulp free1";
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr; 
            height: 3/5*100+vw;
            width: 100%;
        }

        @include desktop{
            grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
            height: 3/7*100+vw;
        }
    }
}